<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :starts_at, default: 1.month.from_now %>
    <%= f.input :ends_at, default: 3.months.from_now %>
    <%= f.input :hero_image_url %>
    <%= f.input :extended_html_description %>
    <%= f.association :venue %>
    <%= f.association :category %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
