<div class="container tickets-buy app-container">
  <h2> <%= @event.name %> </h2>
  <%= flash_messages %>

  <%= simple_form_for(@ticket, url: new_event_ticket_path, html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :ticket_type, as: :radio_buttons, collection: @event.ticket_types.collect { |type| ["#{type.display_text}. Available: #{available_ticket type}", type.id] }, required: true %>
      <%= f.input :quantity, collection: 1..10, selected: 1 %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Book ticket" %>
    </div>
  <% end %>
</div>  

